# Dependencies
node_modules/
package-lock.json

# Environment
.env
.env.local

# Build
dist/
build/
.next/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Prisma
prisma/migrations/
